<%- include("header") -%>
<body>
 
    <h1>todo List</h1>
    <ul>
        <li>buy food</li>
        <li>cook food</li>
        <li>eat food</li>
        <% for (ite in items) { %>
        <li><%= items[ite] %></li>
        <% } %>
       
     
    </ul>
    <form action="" method="post">
        <label for="">Add item</label>
        <input type="text" name="itemName">
        <button type="submit">Add</button>
    </form>
    <h1>checking...</h1>
</body>

<%- include("footer") -%>

